
<form method="POST" action="/dance_classes/<%=@dance_class.id%>">

<input type="hidden" name="_method" value="PATCH"/>

<p>Teacher: <input type="text" name="dance_class[teacher]" value="<%=@dance_class.teacher%>"/></p>
<p>Level: <input type="text" name="dance_class[level]" value="<%=@dance_class.level%>"/></p>
<p>Style: <input type="text" name="dance_class[style_id]" value="<%=@dance_class.style_id%>"/></p>
<p>Class Description: <input type="text" name="dance_class[description]" value="<%=@dance_class.description%>"/></p>


<input type="submit" value= "Update Dance Class" id= "submit"/>
</form>