<h1>Edit Dance Class</h1>
<form method="POST" action="/dance_classes/<%=@dance_class.id%>">

<input type="hidden" name="_method" value="PATCH" />

<p>Class Name: <input type="text" name="dance_class[name]" value="<%=@dance_class.name%>"/></p>

<br>

<p>Teacher: <input type="text" name="dance_class[teacher]" value="<%=@dance_class.teacher%>"/></p>

<br>

<p>Level: <input type="text" name="dance_class[level]" value="<%=@dance_class.level%>"/></p>

<br>

<p>Style:</p>
<select name="style_id"> #name here is the key in the params hash
<% @styles.each do |style|%>
    <option value="<%= style.id %>"><%= style.name %></option>
    <% end %>
</select>
<br>
<br>
<br>

<p>Class Description: <textarea rowstype="3" cols="25"<input type="hidden" name="dance_class[description]"/><%=@dance_class.description%></textarea></p>

<br>

<p>Studio:</p>
<select name="studio_id"> #name here is the key in the params hash
<% @studios.each do |studio|%>
    <option value="<%= studio.id %>"><%= studio.name %></option>
    <% end %>
</select>

<br>
<br>
<input type="submit" value= "Update Dance Class" id= "submit"/>
</form>